In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re

from sklearn.preprocessing import LabelEncoder, StandardScaler

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('./data/Pasien_Data_all.csv')
df.head()

,NIK/BPJS,NAMA,JK,Umur,TTL,No.HP,Jaminan Kes (BPJS/Mandiri),Alamat,Poli,Alergi,...,Tekanan Darah (mmHg),Nadi (x/menit),Berat Badan(Kg),Tinggi Badan(cm),BMI (Body Mass Index),Panjang Lahir(cm),Berat Lahir(Kg),Diagnosis,Stunting,Treatment
0,640194945577,Nurlaila Lessy,P,6,"Tokyo, 9 Mei 2017",83012112306,Mandiri,Jl. Damai,Poli Anak,NaN,...,110/90,83,53.0,155,22.1,NaN,NaN,"myalgia, Hiperkolestrol, supra cts",Tidak,Tidak Ada Treatment
1,784426371042,Agus,L,15,"Ciledug, 9 Oktober 2007",8123478327,BPJS,Jl. Sukadamai,Poli Anak,NaN,...,105/80,79,60.0,169,21.0,NaN,NaN,Demam,Tidak,Paracetamol\nibuprofen
2,868159375240,Zain,L,12,"Masohi, 21 Maret 2011",82239327571,BPJS,Jl. Perdamaian,Poli Umum,-,...,113/85,94,56.0,178,17.7,NaN,NaN,Demam,Ya,Paracetamol\nibuprofen
3,641915658142,Fadil,L,2,"Jakarta, 9 Mei 2021",81224529871,BPJS,Jl. Pasar Minggu,Poli Anak,NaN,...,100/70,93,13.0,85,18.0,50.3,2.5,Demam,Ya,Paracetamol\nibuprofen
4,871452764450,Raihan,L,20,"Rio de Janeiro, 3 September 2002",8123434353,BPJS,Jl. Raya Setiabudhi,Poli Umum,NaN,...,110/90,107,55.1,150,24.5,NaN,NaN,Asma,Tidak,-budesonide\n-fluticasone\n-beclomethasone

In [8]:
df.columns

Index(['NIK/BPJS', 'NAMA', 'JK', 'Umur', 'TTL', 'No.HP',
       'Jaminan Kes (BPJS/Mandiri)', 'Alamat', 'Poli', 'Alergi', 'Nama wali',
       'Keluhan Utama', 'Suhu(C`)', 'Tekanan Darah (mmHg)', 'Nadi (x/menit)',
       'Berat Badan(Kg)', 'Tinggi Badan(cm)', 'BMI (Body Mass Index)',
       'Panjang Lahir(cm)', 'Berat Lahir(Kg)', 'Diagnosis', 'Stunting',
       'Treatment'],
      dtype='object')

In [9]:
dt = df[['Umur','Keluhan Utama', 'Suhu(C`)', 'Tekanan Darah (mmHg)', 'Nadi (x/menit)',
       'Berat Badan(Kg)', 'Tinggi Badan(cm)', 'Diagnosis']]

dt.rename(columns={
    'Umur':'umur',
    'Keluhan Utama':'keluhan_utama',
    'Suhu(C`)':'suhu', 
    'Tekanan Darah (mmHg)':'tkd', 
    'Nadi (x/menit)':'nadi',
    'Berat Badan(Kg)':'bb', 
    'Tinggi Badan(cm)':'tb'
}, inplace=True)
dt.head()

,umur,keluhan_utama,suhu,tkd,nadi,bb,tb,Diagnosis
0,6,"Tangan keram, badan nyeri, mual, muntah",36.7,110/90,83,53.0,155,"myalgia, Hiperkolestrol, supra cts"
1,15,panas tinggi,38.5,105/80,79,60.0,169,Demam
2,12,panas tinggi,37.1,113/85,94,56.0,178,Demam
3,2,panas tinggi,38.2,100/70,93,13.0,85,Demam
4,20,"sesak nafas, batuk, batuk berdahak, lemas",35.8,110/90,107,55.1,150,Asma

In [ ]:
for i in dt['keluhan_utama'].values:
    print(re.sub('[^A-Za-z0-9]+', ' ', i).lower())

In [10]:
temp = []
for i in dt['keluhan_utama'].values:
    temp.append(re.sub('[^A-Za-z0-9]+', ' ', i).lower())
dt['keluhan_utama'] = temp
dt[['tkd_1', 'tkd_2']] = dt['tkd'].str.split('/', expand=True)
dt.drop('tkd', axis=1, inplace=True)
dt.head()

,umur,keluhan_utama,suhu,nadi,bb,tb,Diagnosis,tkd_1,tkd_2
0,6,tangan keram badan nyeri mual muntah,36.7,83,53.0,155,"myalgia, Hiperkolestrol, supra cts",110,90
1,15,panas tinggi,38.5,79,60.0,169,Demam,105,80
2,12,panas tinggi,37.1,94,56.0,178,Demam,113,85
3,2,panas tinggi,38.2,93,13.0,85,Demam,100,70
4,20,sesak nafas batuk batuk berdahak lemas,35.8,107,55.1,150,Asma,110,90

In [11]:
encoder = LabelEncoder()
encoder.fit_transform(df['Diagnosis'])
dt['Diagnosis'].value_counts()

Demam                                 9
Campak                                6
Diare                                 6
Radang Tenggorokan                    5
Asma                                  4
Cacar                                 4
Radang Perut (Muntaber)               4
Flu                                   3
Cacingan                              3
Pneumonia                             2
DBD                                   2
myalgia, Hiperkolestrol, supra cts    1
Name: Diagnosis, dtype: int64